:host {
  align-items: center;
  display: flex;
}

.error-message {
  align-items: flex-start;
  color: red;
  display: flex;
  font-weight: 600;
  padding: 0.3rem;
  width: fit-content;
}

.panel-link {
  align-items: center;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  margin-left: 0.7rem;
  padding: 2px 4px;
}

.panel-link-label {
  font-size: 12px;
  text-decoration: underline;
}

.error-message-icon {
  font-size: 16px;
  height: 16px;
  width: 16px;
  margin-right: 0.5rem;
  margin-top: 2px;
}

.panel-link-icon {
  font-size: 12px;
  height: 12px;
  width: 12px;
  margin-right: 0.5rem;
}
