@import 'src/styles/bases';

:host {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.error-message {
  align-items: center;
  color: $color-warn;
  display: flex;
  font-weight: 600;
  padding: 0.3rem;
  width: fit-content;
}

.error-message-icon {
  margin-inline-end: 0.5rem;
}

.panel-link {
  align-items: center;
  background-color: #fff;
  color: $color-warn;
  border: none;
  cursor: pointer;
  display: flex;
  margin-left: 0.7rem;
  padding: 2px 4px;
  text-decoration: underline;
}

.panel-link-icon {
  font-size: 12px;
  height: 12px;
  width: 12px;
  margin-right: 0.5rem;
}
