:host {
  align-items: center;
  background-color: rgb(255, 227, 230);
  border-color: rgb(236 188 191);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  display: flex;
  padding: 0.3rem;
  width: fit-content;
}

.panel-link {
  cursor: pointer;
  margin-left: 1rem;
  text-decoration: underline;
}

.error-message-icon {
  font-size: 16px;
  height: 16px;
  width: 16px;
}
