.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;

  .action-btn:not(:last-child) {
    margin-right: 1rem;
  }
}

.branding-container {
  align-items: center;
  display: flex;
}

.header-logo {
  margin-right: 1rem;
}

.issue-preview-container,
.issue-creator-container {
  display: block;
  padding-top: 1rem;
  width: 50%;
}

.issue-creator-container {
  padding-left: 1rem;
  padding-right: 2rem;
}

.issue-preview-container {
  padding-left: 2rem;
  padding-right: 1rem;
}

.main {
  display: flex;
  justify-content: center;
}
