<header>
  <mat-toolbar class="header">
    <section class="branding-container">
      <mat-icon class="header-logo" svgIcon="header-logo"></mat-icon>
      <h1>Issue Forms Creator</h1>
    </section>
    <section>
      <button mat-raised-button class="create-btn" (click)="resetIssue()">create new issue</button>
      <a
        mat-icon-button
        href="https://github.com/geromegrignon/issue-forms-creator"
        target="_blank"
      >
        <mat-icon svgIcon="github-logo"></mat-icon>
      </a>
    </section>
  </mat-toolbar>
</header>
<main class="main">
  <app-issue-creator
    class="issue-creator-container"
    [form]="form"
    [scrollableItem]="scrollableItem"
  ></app-issue-creator>
  <app-issue-preview
    class="issue-preview-container"
    [form]="form"
    [clipboardSuccess]="clipboardSuccess"
    [clipboardError]="clipboardError"
    (copyToClipboard)="copyToClipboard()"
    (scrollToError)="scrollToError($event)"
  ></app-issue-preview>
</main>
<main class="alternative">
  <img class="logo" src="assets/svg/logo.svg" alt="application logo" aria-hidden="true" />
  <section class="alternative-content">
    <h2>Generator for Github Issue Forms</h2>
    <p>As this project isn't optimized for small screens</p>
    <p>We chose not to show you its content on your device</p>

    <p>See you on larger screens!</p>

    <p class="contribution-text">
      Want to contribute?
      <a href="https://github.com/geromegrignon/issue-forms-creator" target="_blank">Join us!</a>
    </p>
    <p>
      <a
        href="https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms"
        target="_blank"
        >Github Issue Forms docs</a
      >
    </p>
  </section>
</main>
