<app-issue-form-header (switchSelectionMode)="switchSelectionMode()"></app-issue-form-header>
<main class="main">
  <app-issue-creator
    class="issue-creator-container"
    [form]="form"
    [scrollableItem]="scrollableItem"
  ></app-issue-creator>
  <app-issue-preview
    *ngIf="!isSelectionMode"
    class="issue-preview-container"
    [form]="form"
    [clipboardSuccess]="clipboardSuccess"
    [clipboardError]="clipboardError"
    (copyToClipboard)="copyToClipboard()"
    (scrollToError)="scrollToError($event)"
  ></app-issue-preview>
  <app-template-selection
    *ngIf="isSelectionMode"
    class="template-selection-container"
    (createNew)="createNew()"
    (createWithContent)="loadYamlFile($event)"
    (createWithPreset)="createWithPreset($event)"
    (closeSelection)="isSelectionMode = false"
  ></app-template-selection>
</main>
<main class="alternative">
  <img class="logo" src="assets/svg/logo.svg" alt="application logo" aria-hidden="true" />
  <section class="alternative-content">
    <h2>Generator for Github Issue Forms</h2>
    <p>As this project isn't optimized for small screens</p>
    <p>We chose not to show you its content on your device</p>

    <p>See you on larger screens!</p>

    <p class="contribution-text">
      Want to contribute?
      <a href="https://github.com/geromegrignon/issue-forms-creator" target="_blank" rel="noopener"
        >Join us!</a
      >
    </p>
    <p>
      <a
        href="https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms"
        target="_blank"
        rel="noopener"
        >Github Issue Forms docs</a
      >
    </p>
  </section>
</main>
