.header {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  height: 64px;
  justify-content: space-between;
  padding: 0 16px;
}

.branding-container {
  align-items: center;
  display: flex;
}

.header-logo {
  margin-right: 1rem;
}

.header-name {
  margin: 0;
}

.issue-creator-container {
  padding-left: 1rem;
  padding-right: 2rem;
  padding-top: 1rem;
  width: 40%;
}

.template-selection-container,
.issue-preview-container {
  padding-left: 2rem;
  padding-right: 1rem;
  padding-top: 1rem;
  width: 60%;
}

.main {
  display: flex;
  justify-content: center;
}

.create-btn {
  margin-right: 1rem;
}

.alternative {
  display: none;
}

.creation-container {
  align-items: center;
  display: flex;
}

.creation-info {
  align-items: center;
  background-color: #2179c0;
  border-radius: 4px;
  display: flex;
  margin-right: 1rem;
  padding: 4px 10px 4px 16px;

  mat-icon {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 830px) {
  .main {
    display: none;
  }

  .creation-container {
    display: none;
  }

  .alternative {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo {
    height: 150px;
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: auto;
  }

  .contribution-text {
    border-top: solid 1px #e1e4e8;
    margin-top: 0.5rem;
    padding-top: 2rem;
  }
}

@media screen and (max-width: 830px) and (orientation: portrait) {
  .alternative-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 830px) and (orientation: landscape) {
  .alternative {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
  }
}
