<section class="preview-options">
  <section class="errors-container">
    <ng-container *ngIf="(form?.get('body')?.valueChanges | async) || copyActivated">
      <app-error-message
        *ngFor="let error of errorsList"
        [hasLink]="false"
        [errorMessage]="error.message"
      ></app-error-message>
    </ng-container>
  </section>
</section>
<section class="preview-container">
  <app-top-level-preview
    [name]="form.value.name"
    [description]="form.value.description"
    [title]="form.value.title"
    (scrollToError)="scrollToError.emit(0)"
  >
    <form [formGroup]="form">
      <section>
        <section *ngFor="let control of controls; let i = index">
          <article class="field" [ngSwitch]="control.controls.type.value">
            <app-markdown-preview
              *ngSwitchCase="'markdown'"
              [formGroup]="control"
            ></app-markdown-preview>
            <app-textarea-preview
              *ngSwitchCase="'textarea'"
              [formGroup]="control"
              (scrollToError)="scrollToError.emit(i + 1)"
            ></app-textarea-preview>
            <app-input-preview
              *ngSwitchCase="'input'"
              [formGroup]="control"
              (scrollToError)="scrollToError.emit(i + 1)"
            ></app-input-preview>
            <app-dropdown-preview
              *ngSwitchCase="'dropdown'"
              [formGroup]="control"
              (scrollToError)="scrollToError.emit(i + 1)"
            ></app-dropdown-preview>
            <app-checkboxes-preview
              *ngSwitchCase="'checkboxes'"
              [formGroup]="control"
              (scrollToError)="scrollToError.emit(i + 1)"
            ></app-checkboxes-preview>
          </article>
        </section>
      </section>
    </form>
  </app-top-level-preview>
  <section class="options-preview-container">
    <app-option-preview label="Assignees" [optionList]="form.value.assignees"></app-option-preview>
    <app-option-preview
      [isLabelsList]="true"
      label="Labels"
      [optionList]="form.value.labels"
    ></app-option-preview>
  </section>
</section>
