:host {
  display: block;
  height: calc(100vh - 80px);
  overflow-x: auto;
  overflow-y: scroll;
}

.preview-container {
  display: flex;
}

app-top-level-preview {
  margin-right: 2rem;
  width: 100%;
}

.preview-options {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.clipboard-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 56px;
  margin-left: 1rem;
}

.clipboard-success,
.clipboard-error {
  font-size: 12px;
  font-weight: 600;
  opacity: 0.75;
}

.clipboard-success {
  color: #37843a;
}

.clipboard-error {
  color: #f00;
}

.actions-container {
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 1207px) {
  .preview-container {
    flex-direction: column-reverse;
  }

  .options-preview-container {
    margin-bottom: 1rem;
  }
}

.field {
  margin-bottom: 1rem;
}
