<app-top-level-preview
  [name]="form.value.name"
  [description]="form.value.description"
  [title]="form.value.title"
>
  <form [formGroup]="form">
    <section>
      <section *ngFor="let control of controls; let i = index">
        <article [ngSwitch]="control.controls.type.value">
          <app-markdown-preview *ngSwitchCase="'markdown'" [formGroup]="control"></app-markdown-preview>
          <app-textarea-preview *ngSwitchCase="'textarea'" [formGroup]="control"></app-textarea-preview>
          <app-input-preview *ngSwitchCase="'input'" [formGroup]="control"></app-input-preview>
          <app-dropdown-preview *ngSwitchCase="'dropdown'" [formGroup]="control"></app-dropdown-preview>
          <app-checkboxes-preview *ngSwitchCase="'checkboxes'" [formGroup]="control"></app-checkboxes-preview>
        </article>
      </section>
    </section>
  </form>
</app-top-level-preview>
<section *ngIf="form.value.labels?.length || form.value.assignees?.length">
  <app-option-preview
    *ngIf="form.value.assignees?.length"
    label="Assignees"
    [optionList]="form.value.assignees"
  ></app-option-preview>
  <app-option-preview
    *ngIf="form.value.labels?.length"
    label="Labels"
    [optionList]="form.value.labels"
  ></app-option-preview>
</section>
