<label
  *ngIf="section.attributes.label; else labelManquant"
  class="preview-label"
  [for]="section.id"
>
  {{ section.attributes.label }}
  <span class="required-marker" *ngIf="section.validations?.required">*</span>
</label>
<ng-template #labelManquant>
  <app-error-message (scrollToError)="scrollToError.emit()"></app-error-message>
</ng-template>
<p class="preview-description" [innerHTML]="section.attributes.description | marked"></p>
<app-error-message
  *ngIf="formGroup.get('attributes')?.get('options')?.getError('duplicateOptions')"
  (scrollToError)="scrollToError.emit()"
  [errorMessage]="formGroup.get('attributes')?.get('options')?.getError('duplicateOptions').message"
></app-error-message>
<app-error-message
  *ngIf="formGroup.get('attributes')?.get('options')?.getError('noneExists')"
  (scrollToError)="scrollToError.emit()"
  [errorMessage]="formGroup.get('attributes')?.get('options')?.getError('noneExists').message"
></app-error-message>

<app-error-message
  *ngIf="!formGroup.get('attributes')?.get('options')?.value.length"
  (scrollToError)="scrollToError.emit()"
  errorMessage="must contain at least one option"
></app-error-message>
<select
  *ngIf="section.attributes.options; else emptyList"
  [id]="section.id"
  [multiple]="section.attributes.multiple"
>
  <option *ngIf="!formGroup.get('validations')?.get('required')?.value" value="None">None</option>
  <option *ngFor="let option of section.attributes.options" [value]="option">{{ option }}</option>
</select>
<ng-template #emptyList>
  <app-error-message
    errorMessage="missing dropdown options"
    (scrollToError)="scrollToError.emit()"
  ></app-error-message>
</ng-template>
