/* You can add global styles to this file, and also import other style files */
@use 'node_modules/@angular/material/index' as mat;

$my-primary: mat.define-palette(mat.$green-palette, 800);
$my-accent: mat.define-palette(mat.$blue-palette, 500);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
  )
);

@include mat.core-theme($my-theme);
@include mat.button-theme($my-theme);
@include mat.all-component-themes($my-theme);

@import 'bases';

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

.section-creator-container {
  display: flex;
  flex-direction: column;
}

.actions-btn-container {
  display: flex;
  justify-content: flex-end;
}

.section-creator-field {
  width: 100%;
}

legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}

/* Preview */

.required-marker {
  color: rgb(203, 36, 49);
}

.preview-label {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.preview-description {
  color: rgb(88, 96, 105);
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 8px;
  margin-top: 4px;
}

.mat-checkbox-layout {
  white-space: normal !important;
}

.mat-checkbox-layout .mat-checkbox-label {
  line-height: 16px;
}

blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.21);
  padding-left: 12px;
  color: rgba(0, 0, 0, 0.54);
}

.chip {
  align-items: center;
  background-color: $color-primary;
  border-radius: 16px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  margin: 4px;
  padding: 7px 12px;
  width: 80px;
  text-align: center;
}

.inline-chip {
  display: inline-flex;
  width: unset;
}

.drag-handle {
  cursor: grabbing;
}

mat-expansion-panel {
  box-shadow: none !important;
  border: 1px solid $color-border-default;
}

mat-expansion-panel-header {
  padding-left: 4px !important;
}

.error-message-border {
  border: 1px solid $color-warn;
  border-radius: 4px;
}
