<label
  *ngIf="section.attributes.label; else labelManquant"
  class="preview-label"
  [for]="section.id"
>
  {{ section.attributes.label }}
  <span class="required-marker" *ngIf="section.validations?.required">*</span>
</label>
<ng-template #labelManquant>
  <app-error-message (scrollToError)="scrollToError.emit()"></app-error-message>
</ng-template>
<p class="preview-description" [innerHTML]="section.attributes.description | marked"></p>
<textarea
  class="textarea"
  [id]="section.id"
  [placeholder]="section.attributes.placeholder"
  [value]="section.attributes.value"
></textarea>
