:host {
  display: flex;
  flex-direction: column;
}

.textarea {
  background-color: #fafbfc;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  height: 150px;
  padding: 0 12px 8px;
}

.preview-description {
  height: 18px;
}
