<label
  *ngIf="section.attributes.label; else labelManquant"
  class="preview-label"
  [for]="section.id"
>
  {{ section.attributes.label }}
</label>
<ng-template #labelManquant>
  <app-error-message (scrollToError)="scrollToError.emit()"></app-error-message>
</ng-template>
<p class="preview-description" [innerHTML]="section.attributes.description | marked"></p>
<app-error-message
  *ngIf="formGroup.get('attributes')?.get('options')?.getError('duplicateLabels')"
  (scrollToError)="scrollToError.emit()"
  [errorMessage]="formGroup.get('attributes')?.get('options')?.getError('duplicateLabels').message"
></app-error-message>
<section *ngFor="let option of section.attributes.options; let i = index">
  <input [id]="i" type="checkbox" [required]="option.required" disabled />
  <label [for]="i">
    <span *ngIf="option.label; else missingCheckboxLabel">
      {{ option.label }}
      <span class="required-marker" *ngIf="option.required">*</span>
    </span>
    <ng-template #missingCheckboxLabel>
      <app-error-message
        class="error-message-inline"
        errorMessage="missing checkbox label"
        (scrollToError)="scrollToError.emit()"
      ></app-error-message>
    </ng-template>
  </label>
</section>
