@import 'src/styles/bases';

:host {
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  margin-bottom: 4px;
  padding: 4px 0;
}

.field {
  display: flex;

  label {
    width: 60px;
  }
}

.field-container {
  width: 100%;

  .field:not(:last-child) {
    margin-bottom: 4px;
  }
}

.label-field {
  border: 1px solid #e1e4e8;
  border-radius: 4px;
  margin: 1px 1px 1px 4px;
  padding-left: 6px;
  width: 200px;
}

.label-field:focus {
  border-color: $color-primary;
  border-width: 2px;
  margin: 0 0 0 3px;
  outline: none !important;
}

@media screen and (max-width: 955px) {
  .label-field {
    width: 100px;
  }
}

@media screen and (min-width: 956px) and (max-width: 1300px) {
  .label-field {
    width: 150px;
  }
}
