<form [formGroup]="form">
  <label for="repository-url">Github repository URL</label>
  <input
    id="repository-url"
    class="input"
    type="url"
    placeholder="Enter the URL for an enhanced experience"
    formControlName="name"
  />
</form>
<article class="errors">
  <div class="foo"></div>
  <div *ngIf="form.valid" class="error-item">Repository loaded!</div>
  <div *ngIf="form.get('name')?.hasError('httpError')" class="error-item">
    {{ form.get('name')?.getError('httpError').split('(')[0] }}
  </div>
</article>
