@import 'src/styles/bases';

:host {
  display: flex;
  flex-direction: column;
}

.repository-form {
  border: 2px solid $color-primary;
  border-radius: 6px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.title {
  align-items: center;
  color: rgb(88, 96, 105);
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  line-height: 30px;

  mat-icon {
    margin-left: 0.5rem;
  }
}

.title-tooltip {
  cursor: pointer;
}

.tooltip {
  width: 150px;
}

.repository-loaded {
  color: $color-primary;
}

form {
  align-items: center;
  display: flex;
}

label {
  font-weight: bold;
  margin-right: 1rem;
  flex-basis: 8rem;
}

input {
  margin-right: 0.5rem;
  width: 20rem;
}

input.ng-touched.ng-invalid + mat-icon {
  color: $color-warn;
}

.errors {
  display: flex;
}

.foo {
  flex-basis: 9rem;
}

.error-item {
  font-weight: bold;
  color: $color-warn;
}
