<section class="main-container">
  <app-repository-finder></app-repository-finder>
  <form class="creator-container" [formGroup]="form">
    <mat-accordion class="header-accordion">
      <mat-expansion-panel #headerPanel=matExpansionPanel>
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-type-container">
            <mat-chip-list>
              <mat-chip color="accent" selected>issue headers</mat-chip>
            </mat-chip-list>
          </mat-panel-title>
          <mat-panel-description>
            <ng-container *ngIf="!headerPanel.expanded && isTopInvalid">
              <app-error-message [hasLink]="false" errorMessage="fill the required fields"></app-error-message>
            </ng-container>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-top-level-creator [form]="form"></app-top-level-creator>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-accordion multi #elementsAccordion=matAccordion>
      <mat-expansion-panel class="control-list" *ngFor="let control of controls; let i = index" #panel=matExpansionPanel>
        <mat-expansion-panel-header>
          <mat-panel-title class="panel-type-container">
            <mat-chip-list>
              <mat-chip color="primary" selected>{{control.value.type}}</mat-chip>
            </mat-chip-list>
          </mat-panel-title>
          <mat-panel-description>
            <ng-container *ngIf="!panel.expanded && control.invalid; else label">
              <app-error-message [hasLink]="false" errorMessage="fill the required fields"></app-error-message>
            </ng-container>
            <ng-template #label>
              {{control.value.attributes.label}}
            </ng-template>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <ng-container [ngSwitch]="control.controls.type.value">
          <ng-container *ngSwitchCase="'markdown'">
            <app-markdown-creator [formGroup]="control"></app-markdown-creator>
          </ng-container>
          <ng-container *ngSwitchCase="'textarea'">
            <app-textarea-creator [formGroup]="control"></app-textarea-creator>
          </ng-container>
          <ng-container *ngSwitchCase="'input'">
            <app-input-creator [formGroup]="control"></app-input-creator>
          </ng-container>
          <ng-container *ngSwitchCase="'dropdown'">
            <app-dropdown-creator [formGroup]="control"></app-dropdown-creator>
          </ng-container>
          <ng-container *ngSwitchCase="'checkboxes'">
            <app-checkboxes-creator [formGroup]="control" (addCheckbox)="addCheckboxOption(i)" (removeCheckbox)="removeCheckboxOption($event, i)"></app-checkboxes-creator>
          </ng-container>
        </ng-container>
        <section class="delete-btn-container">
          <button mat-stroked-button color="warn" (click)="deleteControl(i)">
            delete
          </button>
        </section>
      </mat-expansion-panel>
    </mat-accordion>

    <section class="creator-menu-container">

    </section>
  </form>
</section>
<mat-toolbar class="bottom-toolbar">
  <mat-chip>{{form.value.body.length}} element{{form.value.body.length > 1 ? 's' : ''}}</mat-chip>
  <section class="bottom-toolbar-actions">
    <button mat-stroked-button type="button" color="primary" (click)="closeAllPanels()">close all</button>
    <button mat-raised-button color="primary" type="button" [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      add element
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item type="button" (click)="addInput()">
        input
      </button>
      <button mat-menu-item type="button" (click)="addTextarea()">
        textarea
      </button>
      <!-- TODO : disable if no element yet -->
      <button mat-menu-item type="button" (click)="addMarkdown()">
        markdown
      </button>
      <button mat-menu-item type="button" (click)="addDropdown()">
        dropdown
      </button>
      <button mat-menu-item type="button" (click)="addCheckboxes()">
        checkboxes
      </button>
    </mat-menu>
  </section>
</mat-toolbar>

