.delete-btn-container,
.creator-menu-container {
  display: flex;
  justify-content: flex-end;
}

.delete-btn-container {
  margin-top: 0.5rem;
}

.creator-menu-container {
  margin-top: 1rem;
}

.header-accordion {
  display: block;
  margin-bottom: 1rem;
}

.main-container {
  height: calc(100vh - 144px);
  overflow-x: auto;
  overflow-y: scroll;
  padding-right: 1rem;
}

.bottom-toolbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.bottom-toolbar-actions {
  align-items: center;
  display: flex;

  button:first-child {
    margin-right: 1rem;
  }
}

.panel-type-container {
  display: flex;
  flex-basis: 100px;
}

.chip-recap {
  background-color: #000;
}
