@import 'src/styles/bases';

.delete-btn-container,
.creator-menu-container {
  display: flex;
  justify-content: flex-end;
}

.delete-btn-container {
  margin-top: 0.5rem;
}

.creator-menu-container {
  margin-top: 1rem;
}

.header-accordion {
  display: block;
  margin-bottom: 1rem;
}

.main-container {
  height: calc(100vh - 208px);
  overflow-x: auto;
  overflow-y: scroll;
  padding-right: 1rem;
}

.bottom-toolbar {
  align-items: center;
  display: flex;
  height: 64px;
  justify-content: space-between;
  padding-right: 1rem;
}

.bottom-toolbar-actions {
  align-items: center;
  display: flex;

  button:first-child {
    margin-right: 1rem;
  }
}

.panel-type-container {
  align-items: center;
  display: flex;
  flex-basis: 100px;
}

.header-chip {
  margin-inline-start: 1.75rem;
}

.header-chip,
.generic-chip {
  background-color: #000;
}

.expansion-error {
  border-color: $color-warn;
}
