<section [formGroup]="form">
  <mat-form-field class="section-creator-field name-field">
    <mat-label>Name</mat-label>
    <input matInput type="text" formControlName="name" required />
    <mat-hint>Name for the issue form template. Must be unique from all other templates</mat-hint>
    <mat-error>required field</mat-error>
  </mat-form-field>

  <mat-form-field class="section-creator-field">
    <mat-label>Description</mat-label>
    <input matInput type="text" formControlName="description" required />
    <mat-hint>Description for the issue form template</mat-hint>
    <mat-error>required field</mat-error>
  </mat-form-field>

  <mat-form-field class="section-creator-field">
    <mat-label>Title</mat-label>
    <input matInput type="text" formControlName="title" />
    <mat-hint>A default title that will be pre-populated in the issue submission form.</mat-hint>
  </mat-form-field>

  <ng-container *ngIf="form.get('labels')">
    <ng-container *ngIf="labels$ | async as labelList; else labelChipList">
      <mat-form-field class="section-creator-field">
        <mat-label>Labels</mat-label>
        <mat-select [formControl]="labelsGithubControl" multiple>
          <mat-select-trigger>
            {{ labelsGithubControl.value ? labelsGithubControl.value[0]?.name : '' }}
            <span *ngIf="labelsGithubControl.value?.length > 1" class="label-additional-selection">
              (+{{ labelsGithubControl.value.length - 1 }}
              {{ labelsGithubControl.value?.length === 2 ? 'other' : 'others' }})
            </span>
          </mat-select-trigger>
          <mat-option *ngFor="let label of labelList" [value]="label">
            <article class="chip" [ngStyle]="{ 'background-color': label.color }">
              {{ label?.name }}
            </article>
          </mat-option>
        </mat-select>
        <mat-hint *ngIf="repository$ | async as repository">
          labels loaded from
          <a [href]="repository">{{ repository }}</a>
        </mat-hint>
      </mat-form-field>
    </ng-container>
    <ng-template #labelChipList>
      <mat-form-field class="section-creator-field">
        <mat-label>Labels</mat-label>
        <input
          matInput
          type="text"
          [formControl]="labelsControl"
          placeholder="press enter to add a label"
          [matChipInputFor]="labelList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="addLabelFromInput($event)"
        />
        <mat-hint>Automatically be added to issues created with this template.</mat-hint>
      </mat-form-field>
      <mat-chip-grid #labelList aria-label="label">
        <mat-chip-row
          *ngFor="let label of labels"
          [removable]="true"
          (removed)="removeLabel(label)"
        >
          {{ label }}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip-row>
      </mat-chip-grid>
    </ng-template>
  </ng-container>

  <ng-container *ngIf="form.get('assignees')">
    <ng-container *ngIf="contributors$ | async as contributorList; else assigneeChipList">
      <mat-form-field class="section-creator-field">
        <mat-label>Assignees</mat-label>
        <input
          matInput
          type="text"
          [formControl]="contributorsGithubControl"
          placeholder="press enter to add an assignee"
          [matAutocomplete]="auto"
          (keyup.enter)="addGithubContributor()"
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let contributor of filteredContributors$ | async"
            [value]="contributor.login"
          >
            {{ contributor.login }}
          </mat-option>
        </mat-autocomplete>
        <mat-hint *ngIf="repository$ | async as repository">
          contributors loaded from
          <a [href]="repository">{{ repository }}</a>
        </mat-hint>
      </mat-form-field>
      <mat-chip-listbox aria-label="assignees">
        <mat-chip-option
          *ngFor="let assignee of assignees"
          [selectable]="true"
          [removable]="true"
          (removed)="removeAssignee(assignee)"
        >
          {{ assignee }}
          <mat-icon matChipRemove>Cancel</mat-icon>
        </mat-chip-option>
      </mat-chip-listbox>
    </ng-container>
    <ng-template #assigneeChipList>
      <mat-form-field class="section-creator-field assignees-field">
        <mat-label>Assignees</mat-label>
        <input
          matInput
          type="text"
          [formControl]="assigneesControl"
          placeholder="press enter to add an assignee"
          [matChipInputFor]="assigneeList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="addAssigneeFromInput($event)"
        />
        <mat-hint>Automatically be added to issues created with this template.</mat-hint>
      </mat-form-field>
      <mat-chip-grid #assigneeList aria-label="assignees">
        <mat-chip-row
          *ngFor="let assignee of assignees"
          [removable]="true"
          (removed)="removeAssignee(assignee)"
        >
          {{ assignee }}
          <mat-icon matChipRemove>Cancel</mat-icon>
        </mat-chip-row>
      </mat-chip-grid>
    </ng-template>
  </ng-container>

  <section class="options-container">
    <button
      *ngIf="!form.get('labels')"
      mat-stroked-button
      color="primary"
      type="button"
      (click)="addLabels()"
    >
      Add labels
    </button>
    <button
      *ngIf="!form.get('assignees')"
      mat-stroked-button
      color="primary"
      type="button"
      (click)="addAssignees()"
    >
      Add assignees
    </button>
  </section>
</section>
