.options-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  button:last-child {
    margin-left: 1rem;
  }
}

.assignees-field {
  margin-top: 0.5rem;
}

.label-additional-selection {
  font-size: 0.75em;
  opacity: 0.75;
}

@media screen and (max-width: 1207px) {
  .name-field {
    margin-bottom: 1rem;
  }
}
