:host {
  display: block;
  margin-bottom: 1rem;
}

.options-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;

  button:last-child {
    margin-left: 1rem;
  }
}

.assignees-field {
  margin-top: 0.5rem;
}
