.title-input {
  background-color: #fafbfc;
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  height: 26px;
  margin: 0.5rem;
  padding: 5px 12px;
}

.separator {
  margin-top: 24px;
}

.name {
  font-weight: 600;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 0;
}

.error-name {
  margin: 3px 0;
}

.description {
  color: rgb(36, 41, 46);
  font-size: 14px;
  line-height: 21px;
  margin-top: 0;
}

.error-description {
  margin-bottom: 3px;
}

.issue-container {
  border: 1px solid #e1e4e8;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.issue-form-container {
  padding: 1rem;
}
