<mat-card appearance="outlined" class="template-selection-container">
  <button
    class="action-btn"
    type="button"
    mat-raised-button
    color="primary"
    (click)="createNew.emit()"
  >
    <span>Create from scratch</span>
  </button>

  <hr class="separator" />
  <p class="separator-title">OR</p>

  <h2>Choose an option</h2>
  <section class="options-container">
    <h3 class="option-title">Presets</h3>
    <section class="action-btn-container">
      <button
        class="action-btn"
        type="button"
        mat-raised-button
        (click)="createWithPreset.emit(PresetEnum.BUG_REPORT)"
      >
        <span>Load bug report</span>
      </button>
      <button
        class="action-btn"
        type="button"
        mat-raised-button
        (click)="createWithPreset.emit(PresetEnum.FEATURE_REQUEST)"
      >
        <span>load feature request</span>
      </button>
    </section>
  </section>
  <section class="options-container">
    <h4 class="option-title">Yaml</h4>
    <section>
      <button class="action-btn" type="button" mat-raised-button (click)="loadYamlContent()">
        <span>Paste yaml content</span>
      </button>
      <button class="action-btn" type="button" mat-raised-button (click)="upload.click()">
        <span>Upload yaml file</span>
      </button>
    </section>
  </section>

  <input type="file" hidden #upload (change)="loadYamlFile($event)" />

  <button
    class="close-btn"
    type="button"
    mat-icon-button
    color="warn"
    aria-label="close the selection"
    (click)="closeSelection.emit()"
  >
    <mat-icon>Clear</mat-icon>
  </button>
</mat-card>
