/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;

$my-primary: mat.define-palette(mat.$green-palette, 600);
$my-accent: mat.define-palette(mat.$amber-palette, 700);

// The "warn" palette is optional and defaults to red if not specified.
$my-warn: mat.define-palette(mat.$red-palette);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn,
  ),
));

@include mat.core-theme($my-theme);
@include mat.button-theme($my-theme);
@include mat.all-component-themes($my-theme);

html,
body {
  height: 100%;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

.element-creator-container {
  display: flex;
  flex-direction: column;
}

.actions-btn-container {
  display: flex;
  justify-content: flex-end;
}

.element-creator-field {
  width: 100%;
}

.error-message {
  background-color: rgb(255, 227, 230);
  border-color: rgb(236 188 191);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  padding: 0.3rem;
}

legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}

/* Preview */

.required-marker {
  color: rgb(203, 36, 49);
}

.preview-label {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}

.preview-description {
  color: rgb(88, 96, 105);
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 8px;
  margin-top: 4px;
}
