<section [formGroup]="formGroup">
  <mat-form-field class="section-creator-field">
    <mat-label>ID</mat-label>
    <input matInput type="text" formControlName="id" />
    <mat-hint>Must be unique in the form definition</mat-hint>
    <mat-error>Can contain only numbers, letters, -, _</mat-error>
  </mat-form-field>

  <section class="section-creator-container" formGroupName="attributes">
    <mat-form-field class="section-creator-field">
      <mat-label>label</mat-label>
      <input matInput type="text" formControlName="label" />
      <mat-hint>A brief description of the expected user input</mat-hint>
    </mat-form-field>

    <mat-form-field class="section-creator-field">
      <mat-label>description</mat-label>
      <input matInput type="text" formControlName="description" />
      <mat-hint>Provide context or guidance</mat-hint>
    </mat-form-field>

    <fieldset formArrayName="options" class="checkboxes-fieldset">
      <legend>Checkbox list</legend>
      <section cdkDropList (cdkDropListDropped)="drop($event)">
        <article
          cdkDrag
          *ngFor="let control of optionsControls; let i = index"
          [formGroupName]="i"
          cdkDragLockAxis="y"
        >
          <app-list-option
            [form]="control"
            (delete)="removeCheckbox.emit(i)"
            [removable]="optionsControls.length > 1"
            (addOption)="addOption()"
          ></app-list-option>
        </article>
      </section>
      <section class="action-container">
        <button
          mat-icon-button
          type="button"
          color="primary"
          title="Add a new checkbox option"
          (click)="addCheckbox.emit()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </section>
    </fieldset>
  </section>
</section>
